<a href="https://colab.research.google.com/github/dimanchief13-spec/Univercity/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *Сафонов Дмитрий Андреевич*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [1]:
print('Добро пожаловать в мир Python!')

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [2]:
print(15+27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [3]:
my_name = 'Дмитрий'
print(my_name)

Дмитрий

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [7]:
print('У лукоморья дуб зелёный; \nЗлатая цепь на дубе том: \nИднём и ночью кот учёный \nВсё ходит по цепи кругом;')

У лукоморья дуб зелёный;
Золотая цепь на дубе том:
Иднём и ночью кот учёный
Всё ходит по цепи кругом;

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [9]:
print(f'7 + 2 = {7 + 2}')

7 + 2 = 9

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [11]:
num1 = int(input('Введите первое число '))
num2 = int(input('Введите второе число '))
num3 = int(input('Введите третье число '))

print(f'Произведение введёных чисел равно: {num1 * num2 * num3}')

Введите первое число 5
Введите второе число 4
Введите третье число 3
Произведение введёных чисел равно: 60

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [18]:
user_name = input('Введите свое ФИО: ')
split_name = user_name.split(' ')
print(f'{split_name[0]} {split_name[1][0]}.{split_name[2][0]}.')

Введите свое ФИО: Сафонов Дмитрий Андреевич
Сафонов Д.А.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [26]:
user_string = input('Введите текст: ')
user_symbol = input('Введите символ: ')

count = 0
for i in range(len(user_string)):
  if user_symbol == user_string[i]:
    count += 1

print(f'Символ "{user_symbol}" встречается в введённом вами тексте {count} раз')

Введите текст: У лукоморья дуб зелёный; Златая цепь на дубе том: И днём и ночью кот учёный Всё ходит по цепи кругом;
Введите символ: ;
Символ ";" встречается в введённом вами тексте 2 раз

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [29]:
user_color = input('Введите Ваш любимый цвет: ').capitalize()
print(f'{user_color} - красивый цвет!')

Введите Ваш любимый цвет: красный
Красный - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [30]:
user_string = input('Введите текс: ')
print(f'В вашем тексте {len(user_string)} символов')

Введите текс: У лукоморья дуб зелёный; Златая цепь на дубе том: И днём и ночью кот учёный Всё ходит по цепи кругом;
В вашем тексте 101 символов

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [31]:
num = 42
print(num)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [33]:
print(int((17 * 3) + (10 / 2)))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [34]:
string = '100'
print(int(string) + 25)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [35]:
num = 7
type(num)

int

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [36]:
num1 = 100
num2 = 35
print(num1 - num2)

65

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [38]:
user_num = float(input('Введите вещественное число: '))
print(f'Ваше число в квадрате равно: {user_num ** 2}')

Введите вещественное число: 56.5
Ваше число в квадрате равно: 3192.25

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [41]:
user_num = float(input('Введите вещественное число: '))
print(f'Ваше число округлённое до 2-х знаков после запятой равно: {round(user_num, 2)}')

Введите вещественное число: 36.52234234
Ваше число округлённое до 2-х знаков после запятой равно: 36.52

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [42]:
print(2.5 + 4.7)

7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [45]:
user_temp = float(input('Введите текущую температуру на улице в градусах Цельсия: '))
print(f'Текущая температура в градусах по Фаренгейту равна: {user_temp * 9 / 5 + 32}')

Введите текущую температуру на улице в градусах Цельсия: 24
Текущая температура в градусах по Фаренгейту равна: 75.2

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [47]:
rect_len = float(input('Введите длину прямоугольника: '))
rect_width = float(input('Введите ширину прямоугольника: '))

print(f'Площадь прямоугольника с данными параметрами равна: {rect_len * rect_width}\nПериметр прямоугольника с данными параметрами равен: {rect_len * 2 + rect_width * 2}')

Введите длину прямоугольника: 5.5
Введите ширину прямоугольника: 6
Площадь прямоугольника с данными параметрами равна: 33.0
Периметр прямоугольника с данными параметрами равен: 23.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [48]:
text = 'Python - самый популярный язык программирования'
print(text)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [50]:
text = 'Привет, мир!'
print(f'Первый символ: {text[0]} \nВторой символ: {text[-1]}')

Первый символ: П
Второй символ: !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [54]:
Truth1 = 'МИИГАиК - '
Truth2 = 'Лучший '
Truth3 = 'ВУЗ!'
Ultimate_Truth = Truth1 + Truth2 + Truth3
print(Ultimate_Truth)

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [55]:
text = '12345'
print(type(int(text)))

<class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [56]:
text = 'python is Fun'
print(text.title())

Python Is Fun

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [64]:
lst = [10, 20, 30, 40, 50]
print(lst)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [65]:
lst.append('новый элемент')
print(lst)

[10, 20, 30, 40, 50, 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

Не совсем понял по какому принципу выводить, поэтому это со 2-го по 4-й элемент по расположению в списке

In [67]:
lst = ['python', 'java', 'c++', 'ruby', 'perl']
print(lst[1:4])

['java', 'c++', 'ruby']

А вот со 2-го по 4-й по индексам

In [68]:
print(lst[2:5])

['c++', 'ruby', 'perl']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [72]:
lst = []
lst.extend('123')
print(lst)

['1', '2', '3']

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [76]:
lst = [1, 2, 3, 4, 5]
lst.pop(1)
lst.insert(1, 200)
lst

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [81]:
tpl = (1, 2, 3, 4, 5)
tpl

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [82]:
tpl.pop(0)
tpl #Появилась ошибка AttributeError: 'tuple' object has no attribute 'pop'. Это означает, что у картежа нет метода 'pop', потому что картеж - неизменяемый

AttributeError: 'tuple' object has no attribute 'pop'

####3. Преобразуйте кортеж в строку и выведите результат.

In [80]:
tpl_to_str = str(tpl)
print(tpl_to_str)
print(type(tpl_to_str))

(1, 2, 3, 4, 5)
<class 'str'>

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [84]:
elem = 6
if elem in tpl:
  print(f'Элемет {elem} есть в картеже')
else:
  print(f'Элемента {elem} нет в картеже')

Элемента 6 нет в картеже

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [86]:
tpl = (1, 2, 3, 3, 3, 3, 4, 5, 6, 6)
print(tpl.count(3))

4

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [87]:
my_dict = {
    'имя':'Дмитрий',
    'возраст': 22,
    'город': 'Москва'
}
print(my_dict)

{'имя': 'Дмитрий', 'возраст': 22, 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [89]:
print(my_dict.get('имя'))

Дмитрий

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [90]:
my_dict['профессия'] = 'Программист'
print(my_dict)

{'имя': 'Дмитрий', 'возраст': 22, 'город': 'Москва', 'профессия': 'Программист'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [91]:
my_dict.pop('город')
print(my_dict)

{'имя': 'Дмитрий', 'возраст': 22, 'профессия': 'Программист'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [93]:
new_dict = {}

user_key = input('Введите ключ, который хотите добавить в словарь: ')
user_value = input('Введте значение для этого ключа: ')

new_dict[user_key] = user_value

print(f'Ваш словарь - {new_dict}')

Введите ключ, который хотите добавить в словарь: Рост
Введте значение для этого ключа: 182
Ваш словарь - {'Рост': '182'}